

.bid-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.bid-form input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.bid-form button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bid-form button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.bidfrommain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}